<ul class="friends">
{% for user in attendees %}
    <li class="friend">
            <a class="avatar external" href="http://twitter.com/{{ user.twitter }}">
                    <img class="avatar" src="http://api.twitter.com/1/users/profile_image?screen_name={{ user.twitter }}&size=bigger">
            </a>
            <span class="handle">@{{ user.twitter }}</span>
            <span class="name">{{ user.name }} {{ user.surname }}</span>
    </li>
{% endfor %}
</ul>