{% for user in attendees %}
    {% if loop.first or loop.index0 is divisibleby(6) %}
        <div class="row-fluid">
    {% endif %}
            <div class="span2">
                {% if user.role == "speaker" %}
                    <span class="label label-warning">{{ user.role }}</span>
                {% elseif user.role == "organizer" %}
                    <span class="label label-info">{{ user.role }}</span>
                {% else %}
                    <span class="label">{{ user.role }}</span>
                {% endif %}
                <a href="http://twitter.com/{{ user.twitter }}" class="thumbnail well" target="_blank">
                    <img src="http://api.twitter.com/1/users/profile_image?screen_name={{ user.twitter }}&size=bigger" />
                </a>
                <h4>{{ user.name }} {{ user.surname }}</h4>
                @{{ user.twitter }}
            </div>
    {% if loop.last or loop.index is divisibleby(6) %}
        </div>
        <hr />
    {% endif %}
{% endfor %}